
@{
    ViewBag.Title = "About";
}

<h2>About us</h2>

<h3>General information</h3>
<p>Bacon ipsum dolor amet prosciutto bacon boudin doner flank 
    biltong ball tip pig. Andouille picanha boudin landjaeger 
    kielbasa, bresaola biltong venison bacon doner turducken. 
    Porchetta cow landjaeger, pork belly tongue jerky fatback 
    shank capicola kielbasa. Ribeye fatback flank, venison
    filet mignon brisket bresaola kevin beef ribs shank. 
    Kielbasa drumstick rump andouille. Swine biltong chicken
    meatloaf tail chuck jerky, cupim ribeye short ribs. Flank
    ham tail chuck frankfurter, chicken beef ribs cupim kevin
    short ribs jowl filet mignon.
    <br />
    <br />
Tri-tip kielbasa shankle sausage filet mignon brisket kevin, 
    bacon landjaeger. Swine chicken jowl pork sausage, jerky 
    doner burgdoggen pork chop tenderloin short loin cow tri-tip
    ribeye. Burgdoggen kielbasa fatback strip steak salami short
    ribs tongue shankle pork loin jowl pork. Prosciutto shoulder
    rump porchetta t-bone kielbasa.</p>

<h3>Background</h3>
<p>
    Bacon ipsum dolor amet prosciutto bacon boudin doner flank
    biltong ball tip pig. Andouille picanha boudin landjaeger
    kielbasa, bresaola biltong venison bacon doner turducken.
    Porchetta cow landjaeger, pork belly tongue jerky fatback
    shank capicola kielbasa. Ribeye fatback flank, venison
    filet mignon brisket bresaola kevin beef ribs shank.
    Kielbasa drumstick rump andouille. Swine biltong chicken
    meatloaf tail chuck jerky, cupim ribeye short ribs. Flank
    ham tail chuck frankfurter, chicken beef ribs cupim kevin
    short ribs jowl filet mignon.
    <br />
    <br />
    Tri-tip kielbasa shankle sausage filet mignon brisket kevin,
    bacon landjaeger. Swine chicken jowl pork sausage, jerky
    doner burgdoggen pork chop tenderloin short loin cow tri-tip
    ribeye. Burgdoggen kielbasa fatback strip steak salami short
    ribs tongue shankle pork loin jowl pork. Prosciutto shoulder
    rump porchetta t-bone kielbasa.
</p>