
@{
    ViewBag.Title = "NewBooking";
}

<h2>NewBooking</h2>

<form method="POST">
    Event: <br/>
    <input type="text" name="Event" /><br />
    Name: <br/>
    <input type="text" name="Name" /><br />
    Place: <br/>
    <input type="text" name="Place" /><br />
    Time: <br/>
    <input type="text" name="Time" /><br />
    <br/>
    <input type="submit" />
</form>